scrap_use.py
__pycache__
app_user.py
.vscode
basic_homework_with_course_nbc
basic_project_with_course_nbc
first_homework_with_course
image
image_upload
instagram_clone_team_project_backup
instagram_practice_with_jinja
javascript
test
test.html
instagram_frontend/sample