<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

        <title>스파르타코딩클럽 | 나홀로일기장</title>

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" />

        <style>
            * {
                font-family: 'Jua', sans-serif;
            }
            .posting-box {
                width: 500px;
                margin-top: 20px;
            }
            .posting-box > .custom-file {
                margin-bottom: 20px;
            }
            .wrap {
                width: 900px;
                margin: auto;
            }
            .container {
                padding-left: 50px;
            }
        </style>
        <script>
            $(document).ready(function () {
                listing();
            });

            bsCustomFileInput.init();
            function posting() {
                let title = $('#title').val();
                let content = $('#content').val();

                let file = $('#file')[0].files[0];
                let form_data = new FormData();
                form_data.append('file_give', file);
                form_data.append('title_give', title);
                form_data.append('content_give', content);
                $.ajax({
                    type: 'POST',
                    url: '/posting',
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert(response['msg']);
                        window.location.reload();
                    },
                });
            }

            function listing() {
                $.ajax({
                    type: 'GET',
                    url: '/listing',
                    data: {},
                    success: function (response) {
                        let articles = response['articles'];
                        for (let i = 0; i < articles.length; i++) {
                            let title = articles[i]['title'];
                            let content = articles[i]['content'];
                            let file = articles[i]['file'];

                            let temp_html = `<div class="card">
                                                    <img src="../static/${file}" class="card-img-top">
                                                    <div class="card-body">
                                                        <h5 class="card-title">${title}</h5>
                                                        <p class="card-text">${content}</p>
                                                    </div>
                                                </div>`;

                            $('#cards-box').append(temp_html);
                        }
                    },
                });
            }
        </script>
    </head>

    <body>
        <div class="wrap">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1>나홀로 일기장</h1>
                    <div class="posting-box">
                        <div class="form-group">
                            <input type="email" class="form-control" id="title" placeholder="사진 제목" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="content" rows="3" placeholder="내용 입력"></textarea>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file" />
                            <label class="custom-file-label" for="file">Choose file</label>
                        </div>
                        <button onclick="posting()" type="button" class="btn btn-primary">저장하기</button>
                    </div>
                </div>
            </div>
            <div class="card-columns" id="cards-box">
                <div class="card">
                    <img src="../static/monet.png" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">모네의 그림</h5>
                        <p class="card-text">그림을 보면 마음이 안정된다.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
