<!--한 유저가 쓴 데이터 그대로 가져오기-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        {% for simpson in simpsons %}
        <p id="{{simpson.name}}">{{simpson.name}}</p>
        <p>{{simpson.quote}}</p>

        {% endfor %}

        <p id="box"></p>
        <input type="text" id="simpsonname" placeholder="name" />
        <input type="text" id="simpsonquote" placeholder="quote" />
        <input type="file" id="simpsonpicture" accept="image/*" />
        <button type="button" onclick="posting()">저장하기</button>

        <script>
            $(document).ready(function () {
                show();
            });
            function show() {
                $.ajax({
                    type: 'GET',
                    url: '/profile',
                    data: {},
                    success: function (response) {
                        let rows = response['intro'];
                        for (let i = 0; i < rows.length; i++) {
                            let name = rows[i]['name'];
                            let quote = rows[i]['quote'];
                            let picture = rows[i]['picture'];

                            let temp_html = `<p>${simpsonname}</p>
                                            <p>${simpsonquote}</p>
                                            <img src="${simpsonpicture}" alt="${simpsonname}">`;
                            $('#box').append(temp_html);
                        }
                    },
                });
            }

            function posting() {
                let new_name = $('#simpsonname').val();
                let new_quote = $('#simpsonquote').val();
                let new_picture = $('#simpsonpicture').val();

                $.ajax({
                    type: 'POST',
                    url: '/postsimpson',
                    data: {
                        name_give: new_name,
                        quote_give: new_quote,
                        picture_give: new_picture,
                    },
                    success: function (response) {
                        alert(response['msg']);
                        window.location.reload();
                    },
                });
            }
        </script>
    </body>
</html>
