<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>나의 첫 페이지</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function get() {
                $.ajax({
                    type: 'GET',
                    url: '/testGet?title_give=봄날은간다', // /test라는 창구에 title_give라는 키로 봄날은 간다 값 가져갈게
                    data: {},
                    success: function (response) {
                        //잘되면 아래 실행
                        console.log(response);
                    },
                });
            }

            function post() {
                //버튼 누르면 ajax 요청
                $.ajax({
                    type: 'POST', //POST요청으로
                    url: '/testPost', //app.py의 testPost창구에 (창구의 route부분 맞춰주기)
                    data: { title_give: '봄날은간다' }, //title_give 전해줌 (post가 데이터 가져가는 방식)
                    success: function (response) {
                        console.log(response['msg']); //msg부분만 띄워줌
                    },
                });
            }
        </script>
    </head>
    <body>
        <h1>제목</h1>
        <button onclick="get()">get 버튼</button>
        <button onclick="post()">post 버튼</button>
    </body>
</html>
