<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>Hello, world!</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bulma CSS 링크 -->
        <!-- 부트스트랩과 비슷한 건데, 예제라서 쓴 것 뿐입니다!!!-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    </head>
    <body>
        {% for row in rows %} {% set gu_name = row.MSRSTE_NM %} {% set gu_mise = row.IDEX_MVL %} {% if gu_mise >= 50 %}
        <li>{{ gu_name }}: {{ gu_mise }}</li>
        {% endif %} {% endfor %}
    </body>
</html>
